body{
  margin:0;
  font-family:sans-serif;
  background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
  color:white;
  text-align:center;
}
header{
  padding:20px;
}
.container{
  padding:15px;
}
input{
  width:90%;
  padding:12px;
  border-radius:10px;
  border:none;
}
.categories button{
  margin:5px;
  padding:10px;
  border-radius:20px;
  border:none;
  background:#ff9800;
  color:black;
}
.card{
  margin:20px auto;
  background:#1e1e2f;
  padding:20px;
  border-radius:15px;
  width:90%;
}
#note{
  font-size:20px;
  margin-bottom:15px;
}
.actions button{
  margin:5px;
  padding:10px 15px;
  border-radius:10px;
  border:none;
  background:#ff9800;
}
.bottom-menu{
  position:fixed;
  bottom:10px;
  left:50%;
  transform:translateX(-50%);
  background:#000;
  padding:12px 20px;
  border-radius:30px;
  display:flex;
  gap:18px;
}
.bottom-menu a{
  color:white;
  font-size:22px;
}
footer{
  margin:60px 0 20px;
  opacity:0.7;
}
